@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Add custom styling here */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans';
}

h1 {
    text-align: center;
    margin: 2%;
    font-size: 3rem;
}

p {
    text-align: center;
    font-size: 1.25rem;
}

.display-1 {
    font-size: 6rem;
    font-weight: 9]500;
}