<!DOCTYPE html>
<html>

<head>
	<title>Neal Clark Blog | Documents</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body class="container-fluid bg-light">
	<h1 class="display-1 text-center">Neal Clark Blog</h1>

	<div class="navbar navbar-expand-md">
		<nav class="container-fluid navbar-nav text-center justify-content-center">
			<li class="nav-item"><a class="nav-link px-5 py-1" href="/">Home</a></li>
			<li class="nav-item active"><a class="nav-link px-5 py-1" href="/docs">Documents</a></li>
			<li class="nav-item"><a class=" nav-link px-5 py-1" href="/mail">E-Mail</a></li>
		</nav>
	</div>

    <div class="container">
        <h2>Documents</h2>
    </div>

	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
